# server keys
account.json

# local seeding
secret-commands.md

.DS_Store
node_modules

# Remove so that we can deploy to GH pages!
# /dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
